<a href="https://colab.research.google.com/github/naveen8584/SimpleWebApp/blob/master/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"hello world"

'hello world'

# incremental  decremental operators

In [ ]:
a = 10
a = a+5
a+= 5
print(a)

20

In [ ]:
#substraction
a-= 5
print(a)

15

In [ ]:
# multipcation
a*= 2
print(a)

30

In [ ]:
#division
a/= 2
print(a)

15.0

In [ ]:
#power
b = 10
b**= 5
print(b)

100000

conditional **operators**

In [ ]:
n =5
b = int(input("Enter the number: "))
if b==n:
  print("Both the numbers are equal")
else:
  print("Both are not equal")

str1 = "hello"
str2 = "Hello"
if str1==str2:
  print("Both the numbers are equal")
else:
  print("Both are not equal")

Enter the number: 5
Both the numbers are equal
Both are not equal

In [ ]:
#Greter than (>)
a =15
b = 10
if a>b:
  print("a is gretar than b")
else:
  print("a is lesser than b")


#greater than or equal(>=)

a = 15
b = 15
if a>=b:
  print("a is gretar than or equal to b")
else:
  print("a is lesser than b")

a is gretar than b
a is gretar than or equal to b

In [ ]:
# less than (<)

a = 14
b = 15
if a<b:
  print("a is less than b")
else:
  print("a is greate than b")

a is less than b

In [ ]:
# less than or equal

a = 15
b = 15
if a<= b:
  print("a is lesser than or equal to b")
else:
  print("a is greater than b")

a is lesser than or equal to b

In [ ]:
# not equal:(!=)

a = 5
b = 6
if b!=a:
  print("Both nubers are not equal")
else:
  print("Both are equal")

str1="hello"
str2="hello"
if str1!=str2:
  print("Both are not equal")
else:
  print("Both are equal ")

Both nubers are not equal
Both are equal

Logical operators

In [ ]:
# and
a=5
b=10
c=8
if a<b and b<c:
  print("a is is the smaller the b and b is smaller than c")
else:
  print("b is the greter then c")

b is the greter then c

In [ ]:
# or

a=5
b=10
c=8
if a<b or b<c:
  print("a is is the smaller the b and b is smaller than c")
else:
  print("b is the greter then c")

a is is the smaller the b and b is smaller than c

In [ ]:
#not
a='sample'
if not a == 'sample':
  print("a is not equal to sample")
else:
  print("a is equal to sample")


#ex-2

list1=[1,2,3,4]
if not list1:
  print("list is empty")

else:
  print("list is not empty")

list1=[1,2,3,4]
if list1:
  print("list is empty")

else:
  print("list is not empty")

a is equal to sample
list is not empty
list is empty

conditional statements

In [ ]:
# if

num1=5
if num1%2 == 0:
  print("Give number is even number")


# if-else

num1 = 5
if num1%2 == 0:
  print("Give numer is even number")
else:
  print("Give number is odd number")



# if- elif- elif - else

num1 = 5
num2 = 6
if num2>10:
  print("num2 is greater than 10")
elif num2>8:
  print("num2 is greater than 8")
elif num2>5:
  print("num2 is greater than 5")
else:
  print("num2 is less than 10")
print("outside of if condition")


num1 = 5
num2 = 9
if num2>10:
  print("num2 is greater than 10")
elif num2>8:
  print("num2 is greater than 8")
elif num2>5:
  print("num2 is greater than 5")
else:
  print("num2 is less than 10")
print("outside of if condition")

Give number is odd number
num2 is greater than 5
outside of if condition
num2 is greater than 8
outside of if condition

nested if

In [ ]:
num2 = 9
if num2>10:
  print("num2 is greater than 10")
if num2>8:
  print("num2 is greater than 8")
if num2>5:
  print("num2 is greater than 5")
else:
  print("num2 is less than 10")
print("outside of if condition")


num2 = 1
if num2>10:
  print("num2 is greater than 10")
if num2>8:
  print("num2 is greater than 8")
if num2>5:
  print("num2 is greater than 5")
else:
  print("num2 is less than 10")
print("outside of if condition")

num2 is greater than 8
num2 is greater than 5
outside of if condition
num2 is less than 10
outside of if condition

Output formating

In [ ]:
num2=10
num3=15
print("this is a sample print statement")
print("this is a sample statement with variable",num2)


## using format keyword

print("this is sample statement with format key word {0},{1}" .format(num2,num3))

#using f-string

print(f"this is sample statement with format key word {num2} {num3}")

this is a sample print statement
this is a sample statement with variable 10
this is sample statement with format key word 10,15
this is sample statement with format key word 10 15