<a href="https://colab.research.google.com/github/naveen8584/SimpleWebApp/blob/master/pblms_on_loops%2Cstr%2Cnums%2Cdecision_making.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1Q. print numbers from 1 to N
take a positive integer N as input and print all the numbers from 1 to N.

In [2]:
# input N = 5
# output:1 2 3 4 5

n = int(input("give n value"))
i = 1
while i<=n:
  print(i)
  i+=1   #i=i+1
    #or

n = int(input("give n value"))
for i in range(1, n+1):
  print(i)

give n value5
1
2
3
4
5
give n value5
1
2
3
4
5

calculate the sum of N numbers.
take a positive integer N as input and calculate the sum of the first N natural numbers.
input: N=5
output: sum of first 5 natural numbers:15

In [4]:
n = int(input("give n value: "))
i = 1
sum = 0
while i<=n:
  sum+=i   # sum=i+sum
  i+=1
print(sum)

give n value: 5
15

print even numbers from 1 to n
take a positive integer n as input and print all the even numbers fronm 1 to n.
input: n=10
output: 2 4 6 8 10

In [5]:
n = int(input("give n value"))
i = 1
while i<=n:
  if i%2 == 0:
    print(i)
  i+=1

give n value10
2
4
6
8
10

print odd  numbers from 1t num
take a positive integer N  as input and print all the odd numbers from 1 to N.
input: n=10
output: 1 3 5 7 9

In [7]:
n = int(input("give n value"))
i = 1
while i<=n:
  if not (i%2 == 0):
    print(i)
  i+=1

give n value10
1
3
5
7
9

Multiplication table of a number
take a positive integer N  as input and print the multipication table of N from 1 to 10.
input: n=3

In [11]:
n = int(input("give n value:"))
i = 1
while i<=10:
  print(f"{n}*{i}={n*i}")
  i+=1

  #or

# for loop lo

n = int(input("give n value: "))
for i in range(1, 11):
  print(f"{n}*{i}={n*i}")

give n value:3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
give n value: 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

calculate the factorial of a number
take a positive integer N as input and calculate its factorial(n!).
inpu: N=5
output: Factorial of 5:120

In [12]:
n = int(input("give n value: "))
factorial = 1
while n>0:
  factorial = factorial*n
  n-=1
print(factorial)

give n value: 5
120